/* To make footer stick to the bottom */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  
  font-family: poppins;
  
  background: linear-gradient(to bottom, #ede9fe, #c4b5fd);
  background-attachment:fixed ;

}

body > main {
  flex: 1;
  
}


/* Semester buttons */
.custom-sem-btn{
    border-radius: 12px;
    padding: 10px 20px;
    background-color: #4f46e5;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    min-width: 140px;

}
.custom-sem-btn:hover {
  background:#6366f1;
  color: #fff;
  transition: all 0.2s ease-in-out;

  /* Adds a slight lift */
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

/* navbar */
.custom-navbar{
    background: #3730a3;
    position: sticky;
    top:0;
    z-index: 1020;
    
}

/* custom table */
.custom-table{
  border-radius: 10px;
  overflow: hidden;
  font-size: 0.95rem;
  
}
  
/* table head */
.table-header th{
  background-color: #4f46e5;
  color:white;
}

/* table body */
.custom-table tbody tr{
  transition: background-color 0.2s ease;
}

.custom-table tbody tr:hover {
  background-color: rgba(79, 70, 229, 0.15);

}

.custom-table thead th{
  position: sticky;
    top: 0;
  background-color: #4f46e5; /* same as your header row */
  color: #fff;
  z-index: 1;
}

/* GP column emphasis */
.custom-table td:last-child {
  font-weight: 600;
  color: #4f46e5;
}

/* 
custom select dropdown */
.custom-select{
  background-color: #4f46e5;
  color: white;
}